allpairspy==2.5.0
approval-utilities==8.2.0
approvaltests==8.2.0
attrs==22.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
empty-files==0.0.3
exceptiongroup==1.1.0
iniconfig==2.0.0
lxml==4.9.2
minio==7.1.13
mrjob==0.7.4
numpy==1.24.2
packaging==23.0
pandas==1.5.3
parameterized==0.8.1
parametrized==0.1
pip==21.1.2
pluggy==1.0.0
pyperclip==1.8.2
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
setuptools==57.0.0
simplejson==3.18.3
site-map-parser==0.3.9
six==1.16.0
soupsieve==2.4
sparqldataframe==0.1.0
tomli==2.0.1
typing-extensions==4.5.0
ultimate-sitemap-parser==0.5
urllib3==1.26.14
wheel==0.36.2
